<div class="container">
  <div class="">
    <form [formGroup]="searchOTPForm" (ngSubmit)="searchOtp()">
      <div class="form-group">
        <div class="row">
          <div class="col custom-control custom-radio">
            <input
              type="radio"
              class="custom-control-input"
              id="UAT1"
              value="UAT1"
              formControlName="envName"
            />
            <label class="custom-control-label" for="UAT1">UAT1</label>
          </div>
          <div class="col custom-control custom-radio">
            <input
              type="radio"
              class="custom-control-input"
              id="UAT2"
              value="UAT2"
              formControlName="envName"
            />
            <label class="custom-control-label" for="UAT2">UAT2</label>
          </div>
          <div class="col custom-control custom-radio">
            <input
              type="radio"
              class="custom-control-input"
              id="UAT3"
              value="UAT3"
              formControlName="envName"
            />
            <label class="custom-control-label" for="UAT3">UAT3</label>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-4">
          <label for="date">Date : </label>
          <input
            id="date"
            type="date"
            class="form-control"
            formControlName="date"
          />
        </div>
        <div class="col">
          <label for="txnReferenceNumber">Transaction Ref No : </label>
          <input
            id="txnReferenceNumber"
            type="text"
            class="form-control"
            formControlName="txnReferenceNumber"
          />
        </div>
      </div>
      <div class="form-group row">
        <div class="col">
          <label for="username">Username : </label>
          <input
            id="username"
            type="text"
            class="form-control"
            formControlName="username"
          />
        </div>
        <div class="col">
          <label for="opaque">Opaque : </label>
          <input id="opaque" class="form-control" formControlName="opaque" />
        </div>
      </div>
      <div class="form-group row">
        <div class="col-8"></div>
        <div class="col">
          <button class="btn btn-primary" type="submit">Submit</button>
        </div>
      </div>
    </form>
  </div>

  <div id="results" class="table" *ngIf="results != null && results.length > 0">
    <table>
      <thead>
        <tr>
          <td style="width:150px;">Date</td>
          <td>Time</td>
          <td>Username</td>
          <td>OTP</td>
          <td>Txn Ref No</td>
          <td>Logs</td>
          <td>Download</td>
        </tr>
      </thead>
      <tr *ngFor="let result of results">
        <td>{{ result.date }}</td>
        <td>{{ result.time }}</td>
        <td>{{ result.username }}</td>
        <td>{{ result.otp }}</td>
        <td>{{ result.txnReferenceNumber }}</td>
        <td>
          {{ result.fileName }}
        </td>
        <td>
          <a href="{{ result.resourceURI }}" download="{{ result.fileName }}">
            <i class="fa fa-download"></i
          ></a>
        </td>
      </tr>
    </table>
  </div>
</div>

<div
  *ngIf="showNoResultsModal"
  class="no-results-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          aria-label="Close"
          (click)="closeNoResultsModal()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        No Results Found
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="closeNoResultsModal()"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
